.typed-out {
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: 0.15em solid rgb(16, 228, 34);
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: 0.15em;
    /* Adjust as needed */
    animation: typing 4s steps(50, end) forwards,
        blink-caret 0.75s step-end infinite;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 30%;
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: rgb(19, 244, 75);
    }
}

body {
    margin: 30;
    margin-left: 250;
    margin-right: 250;
    background-color: black;
    color: rgb(33, 204, 31);
    font-family: monospace;
    text-align: justify;
    font-variant: unset;
}

.par {
    font-size: 35px;
    margin: 30;
    margin-left: 250;
    margin-right: 250;
    text-align: justify;
}
